.App {
  text-align: top;
  vertical-align: top;
}
.postMain{
  inline-size: 900px;
    overflow-wrap: break-word;
    vertical-align: top;
 text-align: right;
    
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 30vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1deg);
  }
}

.blog-img{
  max-height: 600px;
  max-width: 600px;
  border-bottom: 0px;
}

.Blog-Posts{
 vertical-align: top;
 text-align: center;
}

.spacePeeps{
  text-align: left;
}

table, td, th {
  border: -30px ;
}

table {
  border-collapse: collapse;
  border-bottom: 0px;
  width: 100%;
  border:0px;
}

.caption{
  color: #bbbcbe;
  border-top: -500px;
}

td {
  height: 50px;
  vertical-align: top;
  border:0px;
  
};

